body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #000;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}
.sidebar{
    background-color:#000;
    width: 340px;
    border-radius: 1rem;
margin-right: 0.5rem;
}
.main-cont{
    background-color: #121212;
    flex: 01;
    border-radius: 1rem;
    overflow:  scroll;
    padding: 0 1rem;
    
}
.music-player{
    background-color:black;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 72px;
   
}
a{
    text-decoration: none;
    color: #fff;
}
.nav{
    background-color:#121212;
    height: 100px;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    justify-content: center;
    padding: 8px 12px;
}
.nav-option{
    line-height: 2.5rem;
    opacity: 0.7; 
    padding: 0.3rem 0.75rem;
}
.nav-option:hover{
        
        opacity: 1;
}
.nav-option i{
    font-size: 1.25rem;
    
}
.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}
.library{
    background-color:#121212;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    justify-content: start ;
    padding: 8px 12px;
    margin-top: 0.5rem;
}
.library .options{
    line-height: 2.5rem;
    display: flex;  
    justify-content: space-between;
    align-items: center;
}
.library img{
    height: 1.25rem;
    width: 1.25rem;
}
.icons{
    font-size: 1.25rem;
    display: flex;
}
.icons i {
    opacity: 0.7;
    margin-right: 1rem;
}
.icons i:hover{
    opacity: 1;
}
.box{
    background-color: #232323;
    height: 8rem;
    border-radius: 0.55rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.75rem 1rem;
}
.box-p1{
    font-size: 1rem;
    font-weight: 500;
}
.box-p2{
    font-size: 0.85rem;
    opacity: 0.9;
}
.badge{
    background-color: #fff;
    border: none;
    border-radius: 100px;
    padding: 0 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: 2rem;
    width: fit-content;
    transition: 0.2s;
}
.badge:hover{
   box-shadow: 0 2px 10px grey;
}
.sticky-nav{
    display: flex;
    position: sticky;
    top: 0;
    background-color: #121212;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 1;
}
.sticky-nav-icons{ 
    margin-left: 0.75rem;
}
.sticky-nav-options button{
    margin-right: 1rem;
}
.sticky-nav-options i{
    margin-right: 1rem;
}
.ip{
    background-color: #000;
    color: #fff;
}
@media(max-width:1000px){
    .hide{
        display: none;
    }
}
.card-container{
    padding: 1rem;
    position: auto;
    display: flex;
    flex-wrap: wrap;
}
.card{
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 2rem;
}
.card-img{
    width: 100%;
    border-radius: 0.5rem;
    
}
.card-title{
    font-weight:600;

}
.card-para{
    font-size: 0.75rem;
    opacity: 0.8;
}
.footer{
    height: 3000px;
    
}
.music-player{
    display: flex;
   
}
.album{
width: 25%;
display: flex;
align-items: center;
}
.player{
    width: 50%;
    
}
.control{
    width: 25%;
   
}
.player-control{
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-control-icon{
   height: 1rem;
   width: 1rem;
   margin-left: 2rem;
   margin-TOP:0.2rem ;
   opacity: 0.7;
}
.player-control-icon:hover{
    opacity: 1;
}
.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.progress-bar{
    width: 70%;
    appearance:none;
    background-color: transparent;
}
.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    height: 0.15rem;
    border-radius: 100px ;
}
.progress-bar::-webkit-slider-runnable-track:hover{
    cursor: pointer;
}
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    background-color: #1bd760;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-top: -6px;
}
span{
    font-size: 0.75rem;
    margin-right: 4px;
    margin-left: 4px;
}
.card-img{
    transition: 0.2s;
}
.card-img:hover{
    box-shadow: 0 0 5px #1bd760;
}
.card:hover{
    box-shadow: 0 5px 20px #000;
}
.album-picc{ 
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 5px;
    margin-left: 0.7rem;
    transition: 0.1;
}
.album-title{
    font-size: 0.9rem;
    font-weight: 500;
}
.album-title:hover{
    text-decoration: underline;
    cursor: pointer;
}
.album-para{
    font-size: 0.65rem;
    opacity: 0.8;
}
.album-para:hover{
    cursor: pointer;
    opacity: 1;
}
.asdf{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.album i{
    padding-left: 1rem;
    padding-top: 0.8rem;
    opacity: 0.8;
    height: 1.3rem;
}
.album i:hover{
    opacity: 10;
}
.control{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.control-icon{
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.l{
    height: 1rem;
   width: 1rem;
   margin-left: 0.6rem;
   margin-TOP:0.2rem ;
   opacity: 0.7; 
}
.l:hover{
    opacity: 1;
}

.mmmmm{
   appearance: none;
   background-color: transparent;
   padding-bottom: 0.2rem;
}
.mmmmm::-webkit-slider-runnable-track{
    background-color: #ddd;
    height: 0.15rem;
    border-radius: 100px ;
}
.mmmmm::-webkit-slider-runnable-track:hover{
    cursor: pointer;
}
.mmmmm::-webkit-slider-thumb{
    appearance: none;
    background-color: #1bd760;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-top: -6px;
}
.fa-pen-to-square{
    opacity: 0.7;
     padding-left: 0.9rem; 
     height: 1rem;
      width: 1rem;
}
.fa-pen-to-square:hover{
opacity: 1;
cursor: pointer;
}
.album-picc:hover{
    box-shadow: 0 0 8px #1bd760 ;
}